@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5 mb-5 fs-3 fw-bold">
    <p>Computer-Assisted Diagnosing of Melanocytic Lesions on the Skin</p>
</div>
<div class="container text-center mt-5 mb-5">
    <p>
        Research project No. 7 T11E 030 21<br />
        of the State Committee for Scientific Research<br />
        Warsaw, Poland
    </p>
</div>
<div class="container fixed-bottom mb-2">
    <div class="row d-flex mb-5 text-center text-muted">
        <div class="col p-2">
            <p>
                Department of Artificial Intelligence <br />
                University of Information Technology and Management <br />
                Sucharskiego St. 2 <br />
                35-225 Rzeszow, PL
            </p>
        </div>
        <div class="col ms-auto p-2">
            <p>
                Regional Dermatology Center <br />
                Warzywna St. 3<br />
                35-959 Rzeszow, PL
            </p>
        </div>
    </div>
</div>
