@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5 mb-5 fs-3 fw-bold">
    <p>Badania nad metodą komputerowego wspomagania diagnostyki znamion melanocytowych oraz czerniaka skóry</p>
</div>
<div class="container text-center mt-5 mb-5">
    <p>
        Projekt badawczy nr 7 T11E 030 21 <br />
        Komitetu Badań Naukowych <br />
        Warszawa, Polska
    </p>
</div>
<div class="container fixed-bottom mb-2">
    <div class="row d-flex mb-5 text-center text-muted">
        <div class="col p-2">
            <p>
                Katedra Sztucznej Inteligencji <br />
                Wyższa Szkoła Informatyki i Zarządzania w Rzeszowie <br />
                ul. Sucharskiego 2 <br />
                35-225 Rzeszów
            </p>
        </div>
        <div class="col ms-auto p-2">
            <p>
                Wojewódzka Przychodnia Dermatologiczna w Rzeszowie <br />
                ul. Warzywna 3<br />
                35-959 Rzeszów, PL
            </p>
        </div>
    </div>
</div>